@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    /*
    --bg-black:#112D32;
    --bg-gray: #254E58;
    --text-peach: #b4ab99;
    */
    /*
    MINT PALETTE
    --bg-black:#DCE0D9;
    --bg-gray: #FBF6EF;
    --text-peach: #283618;
    brightness(0) saturate(100%) invert(13%) sepia(4%) saturate(6619%) hue-rotate(45deg) brightness(102%) contrast(85%)
    */
    /*
    EARTHY PALETTE
    --bg-black:#C08552;
    --bg-gray: #F3E9DC;
    --text-peach: #5E3023;
    brightness(0) saturate(100%) invert(19%) sepia(12%) saturate(2763%) hue-rotate(326deg) brightness(96%) contrast(90%)
    */
    
    --bg-black:#4F6F52;
    --bg-gray: #739072;
    --text-peach: #D2E3C8;
}

.hidden {
    display: none !important;
}


body {
    line-height: 1.5;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    background: var(--bg-gray);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,::after {
    box-sizing: border-box;
}

/* sidebar */
.sidebar
{
    width: 270px;
    background: var(--bg-black);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.sidebar .logo {
    position: relative;
    font-size: 26px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .logo img {
    width: 120px;
    height: auto;
    margin-top: 25px;
    filter: brightness(0) saturate(100%) invert(86%) sepia(18%) saturate(201%) hue-rotate(54deg) brightness(98%) contrast(97%);
} 

.sidebar .logo a {
    position: relative;
    color: #D2E3C8;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 34px;
    letter-spacing: 3px;
}

.sidebar .logo a::before {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 2px solid #D2E3C8;
    top: 45px;
}

.sidebar ul {
    list-style: none;
    margin-top: 20px;
}

ul {
    list-style: none;
}

.sidebar .nav li {
    margin-bottom: 30px;
    
}

.sidebar .nav li a {
    position: relative;
    font-size: 18px;
    line-height: 50px;
    font-weight: 500;
    display: inline-block;
    color: #D2E3C8;
    padding: 5px 0px;
    text-decoration: none;
}

/* Add line under text on hover */
.sidebar .nav li a:after {
    content: "";
    position: absolute;
    left: 50%; /* Center the line */
    bottom: 10px;
    width: 0; /* Initially set width to 0 */
    height: 1px;
    background-color: var(--text-peach);
    transition: width 0.3s ease;
    transform: translateX(-50%) scaleX(0); /* Translate back by half the width */
}

.sidebar .nav li a:hover:after {
    width: 100%;
    transform: translateX(-50%) scaleX(1); /* Scale the line to full width on hover */
}

.sidebar .nav li i {
    color: #D2E3C8;
    margin-right: 10px;
    font-size: 20px;
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: middle;
}

/* sidebar end */

/* SECTION START */

.main-content {
    padding-left: 150px;
    background: var(--bg-gray);
}

.section {
    min-height: 100vh;
    display: block;
    position: relative;
    padding: 0 30px;
    background: var(--bg-gray);
}

.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    color: var(--text-peach);
    font-weight: 700;
    position: relative;
}

.section-title h2::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: var(--text-peach);
    position: absolute;
    top: 100%;
    left: 0;
}

.rows {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}


/* SECTION END */

/* HOME */
.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    z-index: 1;
}

.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-peach);

}

.home-info {
    flex: 0 0 60%;
    max-width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home-img {
    flex: 0 0 40%;
    max-width: 40%;
    display: flex; /* Add display flex */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
} 
.home-img img {
    height: 500px;
    max-height: 450px;
    filter: brightness(0) saturate(100%) invert(23%) sepia(14%) saturate(1162%) hue-rotate(71deg) brightness(96%) contrast(91%);
    transform: scaleX(-1);
}

.home-info h3 {
    font-size: 42px;
    text-wrap: nowrap;
    margin-bottom: 50px;
}

.kamerado {
    font-weight: bold;
}

.home-info p {
    margin-top: 20px; /* Add some space between paragraphs */
    width: 100%;
    font-size: 22px;
    text-align: center;
    text-wrap: pretty;
}
.home-info p::after {
    content: '';
    display: block;
    border-bottom: 1px solid var(--text-peach);
    opacity: 60%;
    margin-top: 40px;
}
.home-info p::before {
    content: '';
    display: block;
    border-bottom: 1px solid var(--text-peach);
    opacity: 60%;
    margin-bottom: 40px;
}

/* Søknads button */
.home a.button {
    font-size: 32px;
    font-weight: 500;
    padding: 8px 20px;
    color: var(--bg-black);
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    background: var(--text-peach);
    transition: all 0.3s ease;
    margin-top: 100px;
}

.home a.button:hover {
    transform: scale(1.05);
}

/* OM OSS */
.about .about-content {
    display: flex;
    justify-content: space-between; /* Spread the content horizontally */
}

.about .section-title {
    margin-bottom: 0;
}

.about .about-content .about-text {
    flex: 0 0 45%;
    max-width: 50%;
    margin-top: 50px;
}

.about .about-content .about-text p {
    font-size: 22px;
    line-height: 30px;
    color: var(--text-peach);
}

.about .about-members {
    flex: 0 0 50%;
    font-size: 18px;
    color: var(--text-peach);
    padding-left: 80px;
    margin-top: 40px;
}

.about .about-members p {
    position: relative;
    margin-top: 10px;
}

.about .about-members ul {
    padding-left: 20px;
    margin-top: 10px;
}

.board-members {
    margin-top: 40px;
    margin-bottom: 80px;
}
.board-members p {
    border-bottom: 2px solid var(--text-peach);
    width: 35%;
}
.board-members li {
    font-weight: 600;
}

.about .about-members ul li {
    font-size: 18px;
    color: var(--text-peach);
    margin-bottom: 10px;
}

.about-content::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    left: 50%;
    margin-top: 20px;
    opacity: 0.2;
    transform: translateX(-50%);
    background-color: var(--text-peach);
}

/* FAQ */
.faq .faq-content {
    max-width: 70%;
}

.faq .faq-question {
    font-size: 32px;
    font-weight: 600;
    color: var(--text-peach);
}

.faq .faq-answer {
    font-size: 24px;
    opacity: 0.8;
    color: var(--text-peach);
    padding-bottom: 35px;
    padding-top: 5px;
    line-height: 30px;
}

.faq .faq-answer p {
    margin-top: 15px;
}

.faq-answer p a {
    color:inherit;
}

.faq-answer p a:hover {
    opacity: 0.6;
}


/* Tildelinger */
.awards .awards-content {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    color: var(--text-peach);
}

.awards-content ul li {
    padding: 20px;
    background-color: var(--bg-black);
    margin-bottom: 20px;
}

.awards-content ul li:last-child {
    margin-bottom: 0;
}

.timeline-item h1 {
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
}

.timeline-item h1 a {
    color:inherit;
    text-decoration: none;
}

.timeline-item h1 a:hover {
    opacity: 0.7;
}


.timeline-item p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}

.timeline-item .timeline-date {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.divider-line {
    width: 100%;
    height: 2px;
    background-color: var(--text-peach);
    opacity: 40%;
    margin-top: 80px; /* Adjust margin as needed */
}

/* ONLY ADDS LINE IF SCREEN IS NOT ON PHONE OR WIDTH HIGHER THAN 1500PX */
@media only screen and (min-width: 1500px) {
    .awards-content::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--text-peach);
    }

    .awards-content ul li {
        width: 50%;
        margin-bottom: 50px;
        position: relative;
    }

    .awards-content ul li:nth-child(odd) {
        float: left;
        clear: right;
        transform: translateX(-30px);
        border-radius: 10px 0 10px 10px;
    }

    .awards-content ul li:nth-child(even) {
        float: right;
        clear: left;
        transform: translateX(30px);
        border-radius: 0 20px 20px 20px;
    }

    .awards-content ul li::after {
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: var(--text-peach);
        border-radius: 50%;
        top: 0;
    }
    
    .awards-content ul li:nth-child(odd)::after {
        right: -30px;
        transform: translate(50%, -50%);
    }

    .awards-content ul li:nth-child(even)::after {
        left: -30px;
        transform: translate(-50%, -50%);
    }
    .awards-content ul li:hover:after {
        background-color: var(--bg-black)
    }
    .awards-content .timeline-date {
        position: absolute;
        top: -25px;
    }
}





.shadow-dark {
    box-shadow: 0 0 10px rgba(253, 217, 196, 0.507);
}

/*SOEKNADSSKJEMA*/
.soknad .soknad-form {
    flex: 0 0 80%;
    max-width: 100%;
    margin: 0 auto;
}
.soknad .soknad-form .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 10px;
}
.soknad .soknad-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.soknad .soknad-form .form-item {
    margin-bottom: 20px;
}
.soknad .soknad-form .form-item .form-control {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black);
    border: 1px solid var(--bg-gray);
    padding: 10px 15px;
    font-size: 16px;
    color: var(--text-peach);
    transition: all 0.3s ease;
}
.soknad .soknad-form .form-item .form-control:focus {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.soknad .soknad-form .form-item .form-control::placeholder {
    color:var(--text-peach);
    opacity: 60%;
}
.soknad .soknad-form .form-item textarea.form-control {
    height: 140px;
}

.soknad i {
    position: absolute;
    font-size: 38px;
    left: 120px;
    margin-top: 15px;
    color: var(--text-peach);
    transition: transform 0.3s ease;
}
.soknad i:hover {
    transform: scale(1.2);
}

.btn {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 35px;
    color: var(--bg-gray);
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--text-peach);
    transition: all 0.3s ease;
}
.btn:hover {
    transform: scale(1.1);
}

.soknad .soknad-form .btn {
    height: 50px;
    padding: 0 50px;
}

.soknad .section-title {
    display: block; /* Ensure the title is a block element */
    margin: 0 auto; /* Center the title horizontally */
    margin-bottom: 60px;
}

.soknad label {
    color: var(--text-peach); /* Change text color */
    font-size: 16px; /* Change font size */
    font-weight: bold; /* Change font weight */
    margin-left: 15px;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 0; /* Add margin below the form elements */
}

/* KONTAKT */
.contact-title {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 60px;
}

.contact-title h2 {
    font-size: 40px;
    color: var(--text-peach);
    font-weight: 700;
    position: relative;
}

.contact-title h2::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: var(--text-peach);
    position: absolute;
    top: 100%;
    left: 0;
}

.contact .contact-form {
    width: 800px; /* Set a maximum width for the form */
    margin: 0 auto; /* Center the form horizontally */
}

.contact .contact-form .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.contact .contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .form-item {
    margin-bottom: 20px;
}
.contact .contact-form .form-item .form-control {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black);
    border: 1px solid var(--bg-gray);
    padding: 10px 15px;
    font-size: 16px;
    color: var(--text-peach);
    transition: all 0.3s ease;
}
.contact .contact-form .form-item .form-control::placeholder{
    color: var(--text-peach);
    opacity: 60%;
}
.contact .contact-form .form-item .form-control:focus {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.contact .contact-form .form-item textarea.form-control {
    height: 140px;
}
.btn {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 35px;
    color: var(--bg-gray);
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--text-peach);
    transition: all 0.3s ease;
}
.btn:hover {
    transform: scale(1.1);
}

.contact .contact-form .btn {
    height: 50px;
    padding: 0 50px;
}

.contact .contact-title {
    font-size: 24px;
    color: var(--text-peach);
    margin-bottom: 30px;
}

.contact .contact-info-item {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 60px;
    color: var(--text-peach)
}

.contact .contact-info-item .icon {
    display: inline-block;
    font-size: 35px;
}
.contact .contact-info-item .icon i {
    font-size: 30px;
}
.contact .contact-info-item h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}

.contact .contact-paragraph {
    display: flex;
    justify-content: center;
    font-size: 18px;
    line-height: 25px;
    color: var(--text-peach);
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 30px;
}

/* ADJUSTING RESPONSE FOR SMALL SCREENS */
@media (max-width: 1199px) {
    .sidebar {
        left: -270px;  /*removes navbar*/
    }
    .main-content {
        padding-left: 20px;
    }
    .home-img img {
        max-height: 300px; 
    }
}

@media (max-width: 991px) {
    .home .home-img img {
        display: none;
    }
    .home .home-info {
        flex: 0 0 100%;
        max-width: 100%;
    }
}